version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_app
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    # Tweak this based on your VPS resources, but for 1GB RAM, we rely on Swap
    # mem_limit: 800m 
